

img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

.sidebar_outer_logo .logo_main,
.top_panel_wrap .logo_main,
.top_panel_wrap .logo_fixed {
	height: 59px
}

.contacts_wrap .logo img {
	height: 30px
}



.blog-yumprint-recipe .blog-yumprint-recipe-title {
	color: #414141;
}

.blog-yumprint-recipe .blog-yumprint-subheader,
.blog-yumprint-recipe .blog-yumprint-infobar-section-title,
.blog-yumprint-recipe .blog-yumprint-infobox-section-title,
.blog-yumprint-nutrition-section-title {
	color: #414141;
}

.blog-yumprint-recipe .blog-yumprint-save,
.blog-yumprint-recipe .blog-yumprint-header .blog-yumprint-save a {
	background-color: #666666;
	color: #ffffff !important;
}

.blog-yumprint-recipe .blog-yumprint-save:hover,
.blog-yumprint-recipe .blog-yumprint-header .blog-yumprint-save:hover a {
	background-color: #808080;
}

.blog-yumprint-recipe .blog-yumprint-adapted-link,
.blog-yumprint-nutrition-more,
.blog-yumprint-report-error {
	color: #666666;
}

.blog-yumprint-recipe .blog-yumprint-infobar-section-data,
.blog-yumprint-recipe .blog-yumprint-infobox-section-data,
.blog-yumprint-recipe .blog-yumprint-adapted,
.blog-yumprint-recipe .blog-yumprint-author,
.blog-yumprint-recipe .blog-yumprint-serves,
.blog-yumprint-nutrition-section-data {
	color: #808080;
}

.blog-yumprint-recipe .blog-yumprint-recipe-summary,
.blog-yumprint-recipe .blog-yumprint-ingredient-item,
.blog-yumprint-recipe .blog-yumprint-method-item,
.blog-yumprint-recipe .blog-yumprint-note-item,
.blog-yumprint-write-review,
.blog-yumprint-nutrition-box {
	color: #414141;
}

.blog-yumprint-write-review:hover,
.blog-yumprint-nutrition-more:hover,
.blog-yumprint-recipe .blog-yumprint-adapted-link:hover {
	color: #808080;
}

.blog-yumprint-recipe .blog-yumprint-nutrition-bar:hover .blog-yumprint-nutrition-section-title {
	color: #5a5a5a;
}

.blog-yumprint-recipe .blog-yumprint-nutrition-bar:hover .blog-yumprint-nutrition-section-data {
	color: #9a9a9a;
}

.blog-yumprint-recipe .blog-yumprint-print {
	background-color: #bfbfbf;
	color: #ffffff;
}

.blog-yumprint-recipe .blog-yumprint-print:hover {
	background-color: #d9d9d9;
}

.blog-yumprint-recipe {
	background-color: white;
	border-color: rgb(220, 220, 220);
	border-style: none;
	border-width: 1px;
	border-radius: 0px;
}

.blog-yumprint-recipe .blog-yumprint-recipe-contents {
	border-top-color: rgb(220, 220, 220);
	border-top-width: 1px;
	border-top-style: solid;
}

.blog-yumprint-recipe .blog-yumprint-info-bar,
.blog-yumprint-recipe .blog-yumprint-nutrition-bar,
.blog-yumprint-nutrition-border {
	border-top-color: rgb(220, 220, 220);
	border-top-width: 1px;
	border-top-style: solid;
}

.blog-yumprint-nutrition-line,
.blog-yumprint-nutrition-thick-line,
.blog-yumprint-nutrition-very-thick-line {
	border-top-color: rgb(220, 220, 220);
}

.blog-yumprint-recipe .blog-yumprint-info-box,
.blog-yumprint-nutrition-box {
	background-color: white;
	border-color: rgb(220, 220, 220);
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
}

.blog-yumprint-recipe .blog-yumprint-recipe-title {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif, Helvetica Neue, Helvetica, Tahoma, Sans Serif, Sans;
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
}

.blog-yumprint-recipe .blog-yumprint-subheader {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif, Helvetica Neue, Helvetica, Tahoma, Sans Serif, Sans;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
}

.blog-yumprint-recipe .blog-yumprint-recipe-summary,
.blog-yumprint-recipe .blog-yumprint-ingredients,
.blog-yumprint-recipe .blog-yumprint-methods,
.blog-yumprint-recipe .blog-yumprint-notes,
.blog-yumprint-write-review,
.blog-yumprint-nutrition-box {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif, Helvetica Neue, Helvetica, Tahoma, Sans Serif, Sans;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
}

.blog-yumprint-recipe .blog-yumprint-info-bar,
.blog-yumprint-recipe .blog-yumprint-info-box,
.blog-yumprint-recipe .blog-yumprint-adapted,
.blog-yumprint-recipe .blog-yumprint-author,
.blog-yumprint-recipe .blog-yumprint-serves,
.blog-yumprint-recipe .blog-yumprint-infobar-section-title,
.blog-yumprint-recipe .blog-yumprint-infobox-section-title,
.blog-yumprint-recipe .blog-yumprint-nutrition-bar,
.blog-yumprint-nutrition-section-title,
.blog-yumprint-nutrition-more {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif, Helvetica Neue, Helvetica, Tahoma, Sans Serif, Sans;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
}

.blog-yumprint-recipe .blog-yumprint-action {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif, Helvetica Neue, Helvetica, Tahoma, Sans Serif, Sans;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
}

.blog-yumprint-header {
	width: 100% !important;
}


.eg-henryharrison-element-1,
.eg-henryharrison-element-2 {
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	-o-transition: all .4s linear;
	-ms-transition: all .4s linear;
	transition: all .4s linear
}

.eg-jimmy-carter-element-11 i:before {
	margin-left: 0px;
	margin-right: 0px
}

.eg-harding-element-17 {
	letter-spacing: 1px
}

.eg-harding-wrapper .esg-entry-media {
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 30px 0px 30px
}

.eg-harding-wrapper .esg-entry-media img {
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%
}

.eg-ulysses-s-grant-wrapper .esg-entry-media {
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 30px 0px 30px
}

.eg-ulysses-s-grant-wrapper .esg-entry-media img {
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%
}

.eg-richard-nixon-wrapper .esg-entry-media {
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 30px 0px 30px
}

.eg-richard-nixon-wrapper .esg-entry-media img {
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%
}

.eg-herbert-hoover-wrapper .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%)
}

.eg-herbert-hoover-wrapper:hover .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.eg-lyndon-johnson-wrapper .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%)
}

.eg-lyndon-johnson-wrapper:hover .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.esg-overlay.eg-ronald-reagan-container {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.eg-georgebush-wrapper .esg-entry-cover {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.eg-jefferson-wrapper {
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC) !important
}

.eg-monroe-element-1 {
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
}

.eg-lyndon-johnson-wrapper .esg-entry-cover {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1)
}

.eg-wilbert-wrapper .esg-entry-cover {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1)
}

.eg-wilbert-wrapper .esg-entry-media img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%)
}

.eg-wilbert-wrapper:hover .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.eg-phillie-element-3:after {
	content: " ";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #000 transparent transparent transparent;
	left: 50%;
	margin-left: -5px;
	bottom: -5px;
	position: absolute
}

.eg-howardtaft-wrapper .esg-entry-media img,
.eg-howardtaft-wrapper .esg-media-poster {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.eg-howardtaft-wrapper:hover .esg-entry-media img,
.eg-howardtaft-wrapper:hover .esg-media-poster {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%)
}

.myportfolio-container .added_to_cart.wc-forward {
	font-family: "Open Sans";
	font-size: 13px;
	color: #fff;
	margin-top: 10px
}

.esgbox-title.esgbox-title-outside-wrap {
	font-size: 15px;
	font-weight: 700;
	text-align: center
}

.esgbox-title.esgbox-title-inside-wrap {
	padding-bottom: 10px;
	font-size: 15px;
	font-weight: 700;
	text-align: center
}

.minimal-light .navigationbuttons,
.minimal-light .esg-pagination,
.minimal-light .esg-filters {
	text-align: center
}

.minimal-light .esg-filterbutton,
.minimal-light .esg-navigationbutton,
.minimal-light .esg-sortbutton,
.minimal-light .esg-cartbutton a {
	color: #999;
	margin-right: 5px;
	cursor: pointer;
	padding: 0px 16px;
	border: 1px solid #e5e5e5;
	line-height: 38px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 12px;
	font-weight: 700;
	font-family: "Open Sans", sans-serif;
	display: inline-block;
	background: #fff;
	margin-bottom: 5px
}

.minimal-light .esg-navigationbutton * {
	color: #999
}

.minimal-light .esg-navigationbutton {
	padding: 0px 16px
}

.minimal-light .esg-pagination-button:last-child {
	margin-right: 0
}

.minimal-light .esg-left,
.minimal-light .esg-right {
	padding: 0px 11px
}

.minimal-light .esg-sortbutton-wrapper,
.minimal-light .esg-cartbutton-wrapper {
	display: inline-block
}

.minimal-light .esg-sortbutton-order,
.minimal-light .esg-cartbutton-order {
	display: inline-block;
	vertical-align: top;
	border: 1px solid #e5e5e5;
	width: 40px;
	line-height: 38px;
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	font-size: 12px;
	font-weight: 700;
	color: #999;
	cursor: pointer;
	background: #fff
}

.minimal-light .esg-cartbutton {
	color: #333;
	cursor: default !important
}

.minimal-light .esg-cartbutton .esgicon-basket {
	color: #333;
	font-size: 15px;
	line-height: 15px;
	margin-right: 10px
}

.minimal-light .esg-cartbutton-wrapper {
	cursor: default !important
}

.minimal-light .esg-sortbutton,
.minimal-light .esg-cartbutton {
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-right: 0px;
	border-right: none;
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px
}

.minimal-light .esg-navigationbutton:hover,
.minimal-light .esg-filterbutton:hover,
.minimal-light .esg-sortbutton:hover,
.minimal-light .esg-sortbutton-order:hover,
.minimal-light .esg-cartbutton a:hover,
.minimal-light .esg-filterbutton.selected {
	background-color: #fff;
	border-color: #bbb;
	color: #333;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13)
}

.minimal-light .esg-navigationbutton:hover * {
	color: #333
}

.minimal-light .esg-sortbutton-order.tp-desc:hover {
	border-color: #bbb;
	color: #333;
	box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.13) !important
}

.minimal-light .esg-filter-checked {
	padding: 1px 3px;
	color: #cbcbcb;
	background: #cbcbcb;
	margin-left: 7px;
	font-size: 9px;
	font-weight: 300;
	line-height: 9px;
	vertical-align: middle
}

.minimal-light .esg-filterbutton.selected .esg-filter-checked,
.minimal-light .esg-filterbutton:hover .esg-filter-checked {
	padding: 1px 3px 1px 3px;
	color: #fff;
	background: #000;
	margin-left: 7px;
	font-size: 9px;
	font-weight: 300;
	line-height: 9px;
	vertical-align: middle
}

.eg-dairyfarm-element-0 {
	font-size: 24px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 400;
	padding: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	background: #2d3039;
	z-index: 2 !important;
	display: block;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-color: #ffffff;
	border-style: solid
}

.eg-dairyfarm-element-1 {
	font-size: 24px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 400;
	padding: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	background: #2d3039;
	z-index: 2 !important;
	display: block;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-color: #ffffff;
	border-style: solid
}

.eg-dairyfarm-element-0:hover {
	font-size: 24px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 400;
	border-radius: 60px 60px 60px 60px;
	background: #2d3039;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-color: #ffffff;
	border-style: solid
}

.eg-dairyfarm-element-1:hover {
	font-size: 24px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 400;
	border-radius: 0px 0px 0px 0px;
	background: #2d3039;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-color: #ffffff;
	border-style: solid
}

.eg-dairyfarm-element-0-a {
	display: inline-block;
	float: none;
	clear: none;
	margin: 0px 10px 0px 10px;
	position: relative
}

.eg-dairyfarm-element-1-a {
	display: inline-block;
	float: none;
	clear: none;
	margin: 0px 10px 0px 10px;
	position: relative
}

.eg-dairyfarm-container {
	background: #2d3039
}

.eg-dairyfarm-content {
	background: #ffffff;
	padding: 0px 0px 0px 0px;
	border-width: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	border-color: transparent;
	border-style: double;
	text-align: left
}

.esg-grid .mainul li.eg-dairyfarm-wrapper {
	background: #2d3039;
	padding: 0px 0px 0px 0px;
	border-width: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	border-color: transparent;
	border-style: none
}

.esg-grid .mainul li.eg-dairyfarm-wrapper .esg-media-poster {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat
}

.esg-grid {
	background: transparent;
	padding: 0px 0px 0px 0px ; 
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
}

.esg-clear {
	height: 5px;
	visibility: hidden;
}

.woocommerce-product-gallery {
	opacity: 1 !important;
}
.wpb_animate_when_almost_visible {
	opacity: 1;
}




.vc_custom_1475063547001 {
	background-image: url(../images/bg2.png) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.vc_custom_1475148381788 {
	background-color: #a6a8b1;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.vc_custom_1475048754773 {
	background-image: url(../images/3-layers.jpg) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.vc_custom_1475061036330 {
	background-image: url(../images/big_bg.jpg) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.vc_custom_1475066123130 {
	margin-top: 2.35rem !important;
	margin-bottom: 1rem !important;
}

.vc_custom_1475235191339 {
	margin-top: 2.65em !important;
	margin-bottom: 0.6em !important;
	padding-left: 5.5em !important;
}

.vc_custom_1475235352066 {
	margin-top: 3em !important;
	padding-left: 4.7em !important;
}

.vc_custom_1475049444491 {
	margin-top: 3em !important;
}

.vc_custom_1475049863739 {
	margin-top: 2.65em !important;
	margin-bottom: 0.6em !important;
}

.vc_custom_1475062560306 {
	margin-bottom: 3rem !important;
}

.vc_custom_1475227276833 {
	margin-top: 2.4rem !important;
	margin-bottom: 1.9rem !important;
}

.vc_custom_1474642897261 {
	margin-top: -0.25rem !important;
}

.vc_custom_1474880840987 {
	margin-bottom: 1.7em !important;
}

.vc_custom_1474880997793 {
	margin-bottom: 1.7em !important;
}

.vc_custom_1475054487397 {
	background-color: #fec321 !important;
}


.vc_custom_1475050026958 {
	/*background-color: #fec321 !important;*/
	background-color: #f9abb6 !important;
}

.vc_custom_1475060512699 {
	margin-bottom: 4.25em !important;
}





.bg_cust_1 {
	background-image: url(../images/title_bg.jpg);
}



.rev_slider_wrapper {
	margin: 0px auto; 
	background-color:#231f20;
	padding:0px;
	margin-top:0px;
	margin-bottom:0px;
}

.tp-bannertimer {
	visibility: hidden !important;
}


#slide-1-layer-1,
#slide-2-layer-1,
#slide-3-layer-1 {
	z-index: 5; 
	white-space: nowrap;
}

#slide-1-layer-2,
#slide-2-layer-2,
#slide-3-layer-2 {
	z-index: 6;
	white-space: nowrap;
	text-transform:uppercase;
}

#slide-1-layer-3,
#slide-2-layer-3,
#slide-3-layer-3 {
	z-index: 7; 
	white-space: nowrap;
	text-transform:uppercase;
	outline:none;
	box-shadow:none;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	cursor:pointer;
}

.margin_bottom_large.mw800 {
	max-width: 800px;
	margin-top: -1.5rem; 
}

.post_info_author {
	font-weight: 600;
}
.fst_1 {
	color:#231f20;
	font-size:1.2em; 
	line-height: 1.45em;
}
.c_white {
	color:#ffffff;
}

.h_42e {
	height: 4.2em
}

.h_2-5r {
	height: 0.25rem
}
.h_3r {
	height: 0.3rem
}
.h_6r {
	height: 0.6rem
}
.h_11r {
	height: 1.1rem
}

.h_1p {
	height: 1px
}

.cmrg_1 {
	margin-top: 1.75rem;
}
.cmrg_2 {
	margin-top: 2.3rem;
}

.single-product .woocommerce-product-gallery {
	opacity: 0; 
	transition: opacity .25s ease-in-out;
}


.shoppg .price_label,
.shoppg .price_slider {
	display: none;
}


.blogpg .swiper-slide,
.blogpg .swiper-wrapper {
	height:434px;
}

.blogpg .sw_1 {
	background-image:url(../images/post-3-770x434.jpg);
	width:770px;
}
.blogpg .sw_2 {
	background-image:url(../images/post-1-770x434.jpg);
	width:770px;
}
.blogpg .sw_3 {
	background-image:url(../images/post-6-770x434.jpg);
	width:770px;
}

.shortcodespg .sw_1 {
	background-image:url(../images/post-1.jpg);
}
.shortcodespg .sw_2 {
	background-image:url(../images/post-4.jpg);
}
.shortcodespg .sw_3 {
	background-image:url(../images/post-11.jpg);
}

.sc_line_style_solid {
	border-top-style:solid;
}

#sc_skills_diagram_473 {
	max-width: 550px;
}
.centext {
	text-align: center;
}
.centext h4 {
	margin-top: 2.28em;
	margin-bottom: 0.28em;
	text-align:center;
}

.bt_beige {
	border-top-color:#efdfbf;
}
.shortcodespg .sc_skills_count {
	background-color:#ffb84e;
	border-color:#ffb84e
}
.shortcodespg .sc_align_left {
	text-align: left;
}
.shortcodespg .section_style_call_section {
	background-image: url(../images/call_to_action.jpg)
	;background-repeat:no-repeat;
	background-size:cover;
}
.shortcodespg .price_1 {
	background-image: url(../images/price1.jpg);
}
.shortcodespg .price_2 {
	background-image: url(../images/price2.jpg);
}
.shortcodespg .price_3 {
	background-image: url(../images/price3.jpg);
}

.shortcodespg .sc_googlemap {
	height:503px;
}

.contactspg .sc_googlemap {
	width:100%;
	height:569px;
}

.ab1 .sc_services p,
.home3 .sc_services p,
.home2 .sc_services p,
.index .sc_services p {
	text-align: center;
}

.typo .sc_table,
.shortcodespg .sc_googlemap,
.shortcodespg .sc_video_frame,
.shortcodespg .sc_slider,
.shortcodespg .swiper-slide,
.recipespg .swiper-slide,
.farmpg .swiper-slide,
.ab1 .swiper-slide,
.home3 .swiper-slide,
.home2 .swiper-slide,
.index .swiper-slide,
.farmpg .sc_services,
.ab1 .sc_services,
.home3 .sc_services,
.home2 .sc_services,
.index .sc_services,
.recipespg .sc_clients,
.farmpg .sc_clients,
.ab1 .sc_clients,
.home3 .sc_clients,
.home2 .sc_clients,
.index .sc_clients,
.farmpg .sc_team,
.ab2 .sc_team,
.home3 .sc_team,
.home2 .sc_team,
.index .sc_team,
.fwidth {
	width:100%;
}

.single-product a.woocommerce-main-image {
    border: solid;
    border-width: 1px;
}

.typo .mb2 {
	max-width:370px;
}

.sc_promo_image {
	background-image:url(../images/story.png);
	width:50%;
	left: 0;
}
.sc_promo_block {
	width: 50%; 
	float: right;
}

.sc_columns_count_4 {
	margin-top: -0.8rem;
	margin-bottom: 6rem;
}
.sc_image_shape_round {
	max-width: 196px; 
	margin: auto;
}

.intro_1 {
	background: url(../images/intro1.jpg);
}
.intro_2 {
	background: url(../images/intro2.jpg);
}